###**Problem Statement**: 
Edureka has hired 1000 new employees, the HR has contacted you, and provided you with a text file having new employees’ names. He wants you to help him with generating Employees IDs, Emails, and Password

###Tasks to be performed:
1. Hey buddy, we have hired 1000 new employees. Here are the names in a text file, each name is separated using a new line. Can you generate the following:

 >Employee ID: Starting from 2020001. Example 2020001, 2020002 and so on 

 >Email ID: first_name.last_name@edureka.co 

 >Password: It should be an alphanumeric value, must having capital letters, small letters, and special symbols 

2. I need you to perform some operations on the data, so can we load the data in a Pandas DataFrame

3. Just to cross-check, can you show me the first 2 and the last 3 rows. Also, let’s check the shape of the DataFrame and print the data-types of each column 

4. Print the employee id, email id, and password of ‘Nancy Zediker’

5. Can we check if the column ‘Email ID’, it should not contain any duplicate emails, also check its size and print the first 10 values
 > If duplicate email is found, add a number in the duplicated email We have planned to invite them on lunch in batches. 
 
6. Lets create the first batch of all people whose names are starting with ‘A’. Also give me their count

7. I just got to know, that the people at index 10, 130, and 560 will not be joining so please remove their record 

8. We also need to share the data with the finance department so can you create a new DataFrame without the password column and save it in an excel file for sharing 

9. Can you tell me how I will access the data from excel file using names. For example show me the data for 'John Brown’ and 'Michael Combes’

Download the Text file contain only names

In [80]:
!wget https://www.dropbox.com/s/onl5ac2ea3v11aw/names.txt

--2021-10-18 05:56:31--  https://www.dropbox.com/s/onl5ac2ea3v11aw/names.txt
Resolving www.dropbox.com (www.dropbox.com)... 162.125.65.18, 2620:100:6017:18::a27d:212
Connecting to www.dropbox.com (www.dropbox.com)|162.125.65.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/onl5ac2ea3v11aw/names.txt [following]
--2021-10-18 05:56:31--  https://www.dropbox.com/s/raw/onl5ac2ea3v11aw/names.txt
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc170f885b301dce15a9c124896e.dl.dropboxusercontent.com/cd/0/inline/BYRlXbCuUjDNmMQHqPbHafJDvllQ8dMFTmnETw-95SP5l-ZDrDRu4sQawAAATvMXSB3aJYjgiRNBH5zICF3-2UUUnnbrsFXGQ76htJQEfh0goGX7Cm95C_j2-wXXKzkbH-iBbXgmunUomXZFpFNcBNjn/file# [following]
--2021-10-18 05:56:32--  https://uc170f885b301dce15a9c124896e.dl.dropboxusercontent.com/cd/0/inline/BYRlXbCuUjDNmMQHqPbHafJDvllQ8dMFTmnETw-95SP5l-ZDrDRu4sQawAAATvMXSB3aJYjgiRNBH5zICF3-2UUUnnbrsFXGQ76htJQEfh0goGX7Cm95C_j2-wXXKzkbH-iBbXgmunUomXZFpFNcBNjn/file
Resolving uc170f885b301dce15a9c124896e.dl.dropboxusercontent.com (uc170f885b301dce15a9c124896e.dl.dropboxusercontent.com)... 162.125.65.15, 2620:100:6017:15::a27d:20f
Connecting to uc170f885b301dce15a9c124896e.dl.dropboxusercontent.com (uc170f885b301dce15a9c124896e.dl.dropboxusercontent.com)|162.125.65.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 14024 (14K) [text/plain]
Saving to: ‘names.txt’

names.txt           100%[===================>]  13.70K  --.-KB/s    in 0s

2021-10-18 05:56:33 (351 MB/s) - ‘names.txt’ saved [14024/14024]

In [81]:
import numpy as np
import pandas as pd
import random

In [82]:
file1=open("/content/names.txt",'r')
names=file1.read()
file1.close()

In [83]:
names

'Edward Davis\nJohn Brown\nCristopher Mccrate\nMichael Combes\nJeff Blount\nJoseph Ferris\nPablo Bruner\nRonnie Waite\nEdward Gonzalez\nRuby Musetti\nDella Janek\nBrian Main\nJennifer Fowler\nPatricia Lenis\nDominique Connor\nDavid Adkins\nHelen Phelps\nJohn Thornton\nMarcos Romero\nCindy Hayes\nMellisa Huff\nFrank Prater\nIn White\nAlfredo Yu\nSusan Adkins\nMandy Oehler\nSabrina Helman\nDanielle Armstrong\nPeter Jones\nSusan Draughn\nErnest Kochanski\nDoug Rinaldi\nJudy Purdy\nLarry Smith\nSarah Garrow\nDominque Williams\nDerrick Miller\nJanet Hawkes\nJudy Motley\nFrances Avellino\nVernon Byrd\nRichard Misfeldt\nTed Olson\nMartha Hamelin\nDonna Markowski\nBrandon Wright\nViolet Volz\nRodney Simmons\nShannon Moore\nHelen Floyd\nDawne Ghaemmaghami\nCarlos Savage\nSteven Kipling\nMeghan Smith\nRyan Harding\nMabel Clark\nRandall Lynn\nSamantha King\nLeona Fultz\nNorma Stanely\nSandra Woods\nClaudia Boggs\nJohn Oliva\nLaurie Whit\nMichael Pike\nVirgie Baptiste\nJorge Kinsinger\nShari Levine\nAshley Nettles\nJames Frezzo\nJana Brown\nFausto Gray\nBrian Lockhart\nMichelle Groh\nPatsy Holmes\nKathleen Roberts\nSara Shannon\nAlice Vallee\nRobert Gaylor\nMichael Pratka\nLara Double\nMathew Ramos\nGuy Teasley\nBrianna Jacobs\nRoberta Clements\nRoyce Junkin\nRonald Shumway\nJason Sneed\nDavid Rayburn\nElma Glenn\nJames Sills\nLouise Farmer\nEvelyn Reed\nBrian Lemke\nElsie Ponce\nRobert Hines\nAdrienne Huber\nKaren Salas\nLinda Terry\nSusan Esperon\nSamuel Jones\nWilliam Smith\nJames Jones\nScottie Walker\nLoretta Mcdevitt\nRobert Kramer\nMirna Bush\nIrvin Steinberg\nJessica Veilleux\nKristi Munson\nDoris Toft\nXavier Hutchinson\nThomas Dealba\nAhmad Olson\nTaylor Cendejas\nMichael Anderson\nPeggy Zanola\nAndrew Lund\nKeith Shepard\nRobert Harris\nClaud Rice\nAngeline Roberts\nCary Levy\nLashonda Fields\nDawn Oneill\nJudith Toki\nElizabeth Franks\nJohn Heyde\nWalter Mcneill\nSue Mendoza\nWilliam Ponyah\nGeorge Stark\nPatrick Oconnor\nMichael Hopkins\nCynthia Boyett\nPauline Duncan\nMaria Banks\nKelly Pawlak\nKatherine Young\nJodi Boatwright\nJeramy Sanchez\nCarl Shouse\nRickey Allen\nVincent Larson\nCharles Cruz\nTimothy Packard\nFrederick Azim\nDale Wakham\nMatthew Hartman\nAshley Curtis\nEmma Pearson\nErin Myers\nPatricia Greaves\nJune Hicks\nSue Hermans\nRebecca Geier\nShirley Himes\nHarriett Anderson\nLetitia Turner\nMark Davine\nElmer Boos\nHelen Burgess\nKathy Mallett\nJames Bingle\nJohnnie Bass\nRandall Shiver\nPatricia Quince\nTom Guzman\nJohn Gregg\nDonna Robertson\nJaime Biggs\nDavid Ragland\nVincent Matt\nJackie Gillespie\nFrank Stephenson\nAlbert Lyons\nRachel Pettway\nTamiko Austin\nBeverly Marsh\nDan Elam\nSheila Peck\nCheryl Dibble\nLee Tate\nRegina Davis\nCharles Blackwell\nSusan Demaray\nJeffery Smith\nKenneth Valdivia\nCourtney Jaynes\nKeith Council\nLois Davis\nMary Dupuis\nCarlos Posey\nAlex Swank\nKyle Nicely\nJill Swanson\nPatricia Johnstone\nSamuel Santana\nGilda Stewart\nRichard Smith\nCharles Brendel\nBlake Dube\nBarbara Weddle\nMichael Foley\nJohn Hall\nBilly Baker\nOla Britton\nAlyssa Walker\nAlex Kane\nAllan Wimberly\nMelvin Legault\nFlorence Drummond\nLino Delacruz\nRuby Reilly\nMatthew Markey\nJoann Ruch\nAnn Houston\nDonnie Stewart\nHenrietta Godoy\nJason Mason\nDanny Baker\nJames Branch\nGabriel Rhea\nTimothy Tobar\nJulia Gonzalez\nJc Hancock\nRosalie Picard\nMarilynn Taylor\nPatrick Garcia\nMaria Noboa\nAnnie Gray\nLisa Pham\nSandra Jones\nGerald Edwards\nHelen Hofmann\nDann Williams\nCharles Ennis\nDwayne George\nDarlene Hopper\nDebbie Mercer\nMark Wood\nJames Jimenez\nChristine Hooker\nClara Cole\nDouglas Crichton\nKaren Horton\nJoseph Mutch\nBurl Arevalo\nRobert Smith\nMark Harrison\nSonya Best\nAdrian Warren\nDavid Davidson\nSondra Rodriguez\nRichard Pezzuti\nBruce Jenkins\nMichael Downs\nMary Brewster\nJoan Taylor\nJames Niebaum\nDiane Reeder\nNancy Cooper\nJohn Bennet\nRobert Myers\nDanny James\nNancy Clay\nDennis Wurzbacher\nDale Furtado\nVernon Keiser\nMichael Sparks\nJasmine Wilkinson\nJudy Jones\nMatthew Erdmann\nKevin Freeman\nBrandon Martinez\nWilliam Lay\nEverett Masterson\nEula Duncan\nSheldon Tyson\nMelvin Glisson\nJoan Stansel\nChelsea Galliher\nSamuel Plante\nDennis Dearborn\nChester Ruth\nThomas Stevens\nFrancine Marak\nJane Mauro\nGary Williams\nJustin Baker\nDeborah Patterson\nConnie Fields\nFrancis Matthews\nBrandon Santana\nMallory Delisa\nLinda Wimberly\nSocorro Gainer\nRaquel Davis\nLena Sanders\nRobert Simonetti\nJames Rucker\nJames Caldwell\nSandra Robinson\nRoberto Buddenhagen\nChristopher Bean\nBrett Mead\nJonathan Wilson\nPenny Alderman\nEdward Walley\nTimothy Rowell\nAaron Huffstetler\nKaren Matthews\nRose Hennessey\nDonald Jones\nBarbara Horan\nClyde Powell\nBarry Barber\nDamon Marr\nRobert Jones\nMaria Celadon\nRobert Christ\nJoseph Gramc\nDorothy Simpson\nDoris Plotts\nDonte Hinds\nBecky Weber\nCharles Dittmer\nHumberto Morales\nSusan Chalender\nRoger Garcia\nJames Burt\nMason Christensen\nGary Loyd\nTeresa Rodriguez\nJuana Serrano\nTheodore Baillargeon\nLeslie Ross\nAngela Criddle\nTheodore Gray\nCindy Dean\nChester Stewart\nVeronica Gibson\nKeith Goin\nKyle Johann\nMaria Andrews\nTyler Tavares\nMary Vega\nChadwick Duncan\nEdward Coil\nBradley Davis\nTammy Berry\nTravis Lemke\nShannon Smith\nGeorge Blalock\nRaymond Link\nSteven Felix\nJonathon Cutler\nKevin Avery\nJohn Jodoin\nElaine Renn\nElizabeth Sims\nMargie Joyner\nCyril Tedeschi\nDerek Sundt\nPatricia Schultz\nFrancisco Gilman\nDavid Dombrowski\nStanley Lund\nTom Bradley\nThomas Shierling\nBeth Minichiello\nAlton Dates\nJulie Mattie\nRobert Kyer\nJackie Jones\nValerie Page\nBrittany Melito\nLouise Minton\nAlfred Olivares\nDavid Martinez\nWilliam Mccune\nJohn Kanahele\nEdward Edwards\nRudy Perez\nHector Babena\nDale Gipson\nJason Kleck\nBlanca Evans\nRichard Williams\nCamille Ausmus\nTom Hammack\nAnna Lievano\nDouglas Echols\nIris Williams\nJill Henry\nMichael Sanmiguel\nNicole Haskell\nLucy Larson\nPaul Gustovich\nKaren Coutts\nMarlene Basinski\nMichael May\nMelaine Lewis\nGeorgette Turner\nEdward Mccard\nMelinda Fikes\nEmily Brinton\nMarion Dyckman\nLisa Dudas\nRobby Jagers\nLance Townley\nHenry Conrad\nTracey Ross\nChance Scott\nPatricia Vannest\nKathryn Whitson\nDeanna Benshoof\nClinton Payton\nHuong Austin\nDanielle Mcgowan\nArmando Harr\nAmy Weatherby\nTroy Kaywood\nBrenda Orozco\nDonald Oliver\nMatthew Mccullough\nMarie Seabron\nEmily West\nMiriam King\nWilliam Humphrys\nShelly Lambert\nLee Goodyear\nAmy Conway\nLouis Zimmerman\nRobin Harris\nJames Askew\nOlga Clark\nJames Disher\nNancy Mallen\nBarbara Dotson\nLucille Harvey\nMelanie Price\nBernard Spiller\nMartha Beauford\nLori Rase\nKeith Barajas\nWilliam Owens\nWilbur Klein\nHenry Emerson\nKimberly Alfaro\nMichael Hollins\nThomas Brantly\nKathleen Hackney\nMargaret Benedict\nAlida Ristau\nLouella Shepard\nMaria Mardis\nCary Gariepy\nDana Simpson\nDavid Rahman\nRalph Clark\nRobin Walker\nBeatrice Crockett\nPaul Higgins\nCecilia Lemon\nRobert Allen\nBertie Moore\nErika Sheffield\nPamela Williams\nCharles Surbaugh\nAnn Goldenberg\nSteven Olson\nRudy Black\nMartha Brooks\nColin Mccullen\nLois Wester\nRonald Gavin\nMichael Rivera\nMary Smith\nJamie Hernandez\nJed Peters\nLashay Tipton\nJohn House\nKenneth Heiskell\nWilliam Mclaughlin\nLarry Cogswell\nCarla Adame\nPaulette Thompson\nStephen Place\nAlfredo Diaz\nLisa Metcalf\nMartha Apodaca\nAllison Perry\nCynthia Meyers\nMalia Skelley\nJerry Martin\nEvelyn Felt\nVictor Lieder\nCamille Alexander\nTrevor Combass\nChris Johnston\nSalvador Craze\nPhillis Walp\nHeather Lawrence\nMarcell Helton\nDonald Gipson\nAndrew Floyd\nMatthew Richman\nMary Silvernail\nManie Ackley\nAnibal Shaw\nEthel Smith\nJames Garcia\nSam Garrison\nIrene Milliner\nEdward Nathanson\nJudith Mccarty\nDenise Kilcoyne\nDorothy Martin\nGlen Dziedzic\nDale Hays\nAlbert Lane\nAgustin Powell\nMichelle Roule\nJames Tolman\nDolores Roberts\nCandis Eison\nDorothy Servant\nOscar Batten\nApril Lang\nEmma Bouton\nTammy Jewett\nLinda Jamison\nStephanie Durant\nPatricia Pegues\nCharles Rodriguez\nNicole Esparza\nGwen Shaw\nJeremiah Parks\nJessica Bell\nCharles Lim\nBilly Nash\nNola Jennings\nByron Genao\nMario Norman\nAndrew Asmussen\nNorma Gazitano\nPatsy Mancini\nMary Meckes\nRichard Homma\nLucille Coffey\nFrank Yarbrough\nBridget Sawyer\nAntionette Farnam\nKathryn Clarkson\nCarl Patterson\nDiane Kreidel\nTasha Perry\nTerry Evans\nConnie Shepherd\nJoseph Brussel\nJames Hansing\nWalter Kowalski\nRichard White\nSimone Roush\nNicole Baker\nMaria Brown\nJohn Schmidt\nMichelle Bright\nAlyssa Carpenter\nJill Rodriquez\nRonald Decker\nMary Lockett\nFrancisco Bueti\nFlorence Holman\nDoris Thor\nTyler Hall\nBarbara Henry\nAllan Geimer\nElmer Swendsen\nRobert Mazon\nDenise Guzman\nRussell Reper\nDouglas Andrews\nHugh Archibald\nNora Costley\nDorothy Hernandez\nLauren Ross\nBlake Staelens\nAmy Thomas\nIndia Nelson\nPeggy Joyce\nBruce Kruse\nMagali Woods\nJames Mertz\nAnastasia Mederios\nMarty Pendleton\nLee Caudill\nLois Thompson\nChristopher Conder\nGerald Meil\nJoseph Manley\nAntonio Jimenez\nCaroline Boatner\nLynn Asakura\nLinda Hubbell\nKathleen Ausdemore\nPatricia Bryan\nAlexander Vincent\nRuth Mckneely\nPaul Canfield\nLouis Laney\nJack Sievers\nAngie Mcconnell\nArmando Ragsdale\nDale Immediato\nMatthew Holmes\nJohn Perkins\nCharles Mays\nArdella Biagioni\nJacqueline Marshall\nBoyd Mchattie\nRoger Howard\nLyndon Wagner\nTimothy Craig\nNga Hodge\nGary Webster\nJames Alberts\nJose Reed\nSteven Jones\nJason Brown\nMarcus Figueroa\nCalvin Drelick\nMary Bentley\nDonald Boyce\nElizabeth Albright\nKent Traverso\nJames Adams\nNelda Thomson\nPamela Puglia\nTracy Williams\nLarry Harrington\nDaniel Carrillo\nRussell Williams\nDianne Lester\nKenneth Franklin\nBetsy Martin\nSondra Bolton\nRobert Ellington\nEbony Wolf\nJake Cowart\nRay Chandler\nJack Huether\nHector Ellinger\nAdele Coltrain\nJustin Zanes\nDavid Gibson\nCaleb Sweeney\nPrince Bell\nHelen Hudley\nAndrea Jimenez\nChristie Puffinburger\nDonald Love\nJoyce Bona\nMegan Chalmers\nCyril Payne\nFlorence Cooper\nAlbert Burnett\nMolly Boyd\nSteve Rapp\nDerek Rivera\nZora Heath\nGene Hughes\nMichael Bush\nCarol Raymer\nRodney Sheaffer\nKenneth Griffin\nLorena Noyes\nCharles Cureton\nDaniel Adelstein\nManuel Moreland\nYvonne Stallcup\nDonna Barr\nBruce Crider\nTina Chrisman\nAlene Inman\nRichard Hargrove\nDaniel Lacuesta\nLila Lorna\nCarl Heinlein\nJean Vann\nBarbara Perez\nMichelle Barbour\nTiffany Otis\nCharlotte Davis\nVirgen Asquith\nRebecca Rodriguez\nEvelyn Ferreira\nDarrell Esterly\nKeith Garza\nDean Wallace\nMary Oconnor\nLynn Naone\nEvelyn Chaney\nRobert Wright\nDavid Spicer\nCelia Williams\nSean Betterman\nPaul Medlock\nDavid Pare\nSalvatore Guthrie\nAnna Witzke\nTom Nunley\nKathyrn Choi\nSamantha Springer\nDerrick Hawley\nMaybell Robinson\nSteven Harris\nLois Ruth\nDavid Williams\nSusann Perez\nLinda Clouse\nLawanda Mcnutt\nFrances Dalton\nRicky Jones\nJose Tamborlane\nMarvin Wallace\nMartha Werner\nMaureen Garibay\nLaura Ledet\nDavid Teixeira\nRichard Core\nClaudine Marley\nAdele Hillebrandt\nJerry Conner\nRose Reilly\nNorman Williams\nKenneth Riebau\nJoseph Mcdaniel\nCatherine Burnett\nKaren Antilla\nDee Rothfuss\nElsie Wells\nJennifer Cowan\nLinda Mckoy\nJosette Nutter\nJennifer Devore\nLori Owen\nMichael Crawford\nSteven Stovall\nErvin Schuster\nManuela Cleveland\nAllan Rooks\nKristine Gonzalez\nMary Sutton\nMelinda Chaney\nJohn Morrone\nMarilyn Reyna\nScott Ryan\nGeoffrey Carr\nJudith Reinsch\nHenry Weatherby\nBrian Rush\nJoshua Ernst\nNicholas Wanzer\nEvelyn Asquith\nShela Blew\nMatthew Wilson\nKrista Phan\nJoshua Groch\nAmanda Kelly\nCharles Folsom\nJohnathan Bambeck\nRhonda Bruder\nErin Oakman\nThelma Patrick\nMelinda Abbott\nMichael Myers\nBetty Hamlin\nJoanne White\nIrene Alvarez\nGerry Walter\nDavid Johnston\nDexter Sherrer\nJoseph Bustos\nSusan Prater\nWilliam Mickel\nCarlos Chipps\nAlice Redmond\nBruce Rohr\nNorma Borek\nBruno Bunch\nBessie Green\nMike Imes\nJohn Davis\nDavid Brunson\nSharon Parker\nDaryl Carroll\nMary Diaz\nThomas Mcconnell\nJessica Jones\nJane Barnard\nRodney Middleton\nWallace Conti\nHarriet Croshaw\nRuben Deloach\nGary Jeffries\nMike Cashio\nElizabeth Shelly\nVirginia Herring\nMartha Bradford\nTimothy Byrum\nPeter Arms\nJose Tanner\nEvelyn Morton\nJannie Ceraos\nChrista Melanson\nReynaldo Beier\nMari Kirksey\nAdam Wiley\nIsidro Foster\nMatthew Green\nMary Morales\nLinda Mcgeorge\nMarsha Collins\nChristina Anderson\nJimmy Ostrander\nLessie Baker\nElizabeth Echols\nLisa Zepeda\nMichael Raynor\nHeather Johnson\nMargaret Ayala\nHolly Dubinsky\nKami Zamora\nDouglas House\nJames Parrish\nRussell Acuna\nMichael Aguirre\nSusan Morales\nPeter Meeks\nReva Smith\nMarjorie Webb\nMarcos Long\nJoanne Cothren\nJuanita Lazo\nDavid Boyd\nLatoya Clayton\nLouie Meadows\nMark Winstead\nLois Thompson\nStephen Fisher\nIsrael Eastman\nCynthia Tomlinson\nMarsha Yaney\nDavid Ellis\nVictor Edmonds\nMichael Griffiths\nTheodore Hernandez\nEric Curry\nGladys Evans\nJan Moody\nDavid Connolly\nAdrienne Dalton\nKay Crawford\nPeter Santiago\nAnthony Nice\nBrenda Zhu\nBenjamin Shah\nFrank Mcintosh\nLee Kellam\nSantos Tucker\nLillie Campos\nLillian Hart\nThersa Nopper\nRosa Baker\nWillie Mccabe\nMichael Caraballo\nSummer Feldman\nJustin Gaspard\nDenise Tippetts\nJudith Schmid\nCharles Pankey\nCheryl Davis\nSandra Turner\nJason Eisele\nCharles Chapman\nMargaret Saucier\nBrian Shanks\nCrystal Rohn\nEbony Vincent\nBrooke Carrell\nElaine Petersen\nOpal Boles\nElvis James\nHermelinda Brown\nAmanda Paul\nMary Zimmerman\nAdam Roth\nSamuel Carroll\nLorena Hamilton\nRuby Fisher\nWinifred Adams\nJose Yancey\nPearl Vaughn\nNovella Mckinney\nJesica Watts\nRetta Yates\nChristie Marotta\nLisa Lowrance\nMelissa Hudley\nMegan Kjelland\nJosephine Mcneal\nDianne Jobe\nRose Morgan\nRobert Pitt\nJennifer Blackman\nLizbeth Para\nElton Crum\nDerek Griffith\nJulia Pengelly\nBarry Powell\nMichael Simpson\nDiana Bluma\nJesus Lebeau\nWalter Coates\nAlma Smith\nLibby Tyner\nRonald Holt\nMark Murray\nJames Love\nGeorge Ellis\nJulia Fenstermacher\nHarry Schroder\nJeremy Hernandez\nWayne Creason\nJoe Gulbranson\nNicole Miller\nWillene Windham\nTodd South\nEdwin Proctor\nDavid Parlin\nJohn Wilson\nKathryn Warwick\nOla Zavala\nCharles Belmont\nBrent Riddell\nHelen Bassett\nHubert Amos\nSarah Deangelo\nKyle Lindsay\nWendell Martin\nGayle Higa\nKenneth Fowler\nAlissa Hamberg\nJunior Dodd\nGail Stockman\nWendell Zook\nDamion Skeans\nDennis Nation\nSharon Enriquez\nRobert Cole\nRobert Mckay\nAndrea Gainey\nDavid Cervantes\nJoanne Simmons\nArnold Free\nDorothy Woods\nVera Burnett\nSharon Hazelton\nPaula Dewoody\nShari Hagee\nDonald Bruder\nMattie Cortez\nMax Richardson\nJose Deleon\nMary Mauldin\nEugene Deutsch\nJulie Bartley\nChristina Stender\nElma Whipps\nCheryl Perez\nJose Heatherington\nChristopher Calaf\nDixie Quintana\nRosemary Novotny\nBradley Gonzales\nJessie Ward\nBrian Gibson\nSarah Humphrey\nLinda Mccracken\nLarry Orr\nLauren Rodrigues\nEric Jackson\nTilda Mcduffie\nWilliam Johnson\nJulie Kronenberg\nJeanette Sandlin\nNancy Zediker\nEdward Richter\n'

In [84]:
names = names.strip().split('\n')
print(names[:10])
len(names)

['Edward Davis', 'John Brown', 'Cristopher Mccrate', 'Michael Combes', 'Jeff Blount', 'Joseph Ferris', 'Pablo Bruner', 'Ronnie Waite', 'Edward Gonzalez', 'Ruby Musetti']

1000

Task:01-> .............Generating Employee Password:................

In [85]:
sp_symbol=['!','@','#','$','&','?']
# Here we will generate a function for password
def gen_pwd():
  pwd=[]
  caps_alpha = [chr(random.randrange(65, 65+26)) for _ in range(random.randrange(1, 4))]
  small_alpha = [chr(random.randrange(97,97+26)) for _ in range(random.randrange(3,6))]
  np.random.shuffle(sp_symbol)
  pwd.append(sp_symbol[0])
  num = [str(random.randrange(0,10)) for _ in range(random.randrange(1, 4)) ]
  pwd=pwd+caps_alpha+small_alpha+num
  np.random.shuffle(pwd)
  pwd=''.join(pwd)
  return pwd

In [86]:
print(gen_pwd())

l7!m65yYBcv

Task:02 -> ....................Generating Employee Email Id:.......................

In [125]:
def gen_email(name):
  name=name.split()
  email='.'.join(name)
  return email.lower() + '@edureka.co'

In [126]:
print(gen_email('Raj Singh13'))

raj.singh13@edureka.co

In [93]:
emp_id = [id for id in range(2020001,2020001+1000)]
email=[gen_email(name) for name in names]
password=[gen_pwd() for _ in range(1000)]

In [94]:
emp_id[:10]

[2020001,
 2020002,
 2020003,
 2020004,
 2020005,
 2020006,
 2020007,
 2020008,
 2020009,
 2020010]

In [90]:
email[:10]

['edward.davis@edureka.co',
 'john.brown@edureka.co',
 'cristopher.mccrate@edureka.co',
 'michael.combes@edureka.co',
 'jeff.blount@edureka.co',
 'joseph.ferris@edureka.co',
 'pablo.bruner@edureka.co',
 'ronnie.waite@edureka.co',
 'edward.gonzalez@edureka.co',
 'ruby.musetti@edureka.co']

In [91]:
password[:10]

['qKcb&8b5',
 'pQ7m&Ji',
 'wp3h@aPF',
 'p9UD5f#ywk',
 'J0PfTf$gx0',
 '4Cj&POvn5',
 '56gYa&5j',
 'R1vay0mJW#',
 'fN03OPlm5@e',
 '?mPwOFhu3a']

###**Task 2:** Create a pandas DataFrame

First column should contain names

Second column should contain Employee ID

Third column should contain Email ID

Fourth column should contain Password

In [163]:
df = pd.DataFrame({'Name':names,'Employee ID': emp_id,'Email ID':email, 'Password': password})
df

                   Name  ...      Password
0          Edward Davis  ...   XE?49p5Rbcs
1            John Brown  ...    #47s4yaWJm
2    Cristopher Mccrate  ...  1&5kEdVjk6Xx
3        Michael Combes  ...     86Jfj6?dY
4           Jeff Blount  ...    !YKsybRkj5
..                  ...  ...           ...
995     William Johnson  ...       !Unctt0
996    Julie Kronenberg  ...    fjC7BQ$2w9
997    Jeanette Sandlin  ...      cL2s7p&C
998       Nancy Zediker  ...    By&trx39kN
999      Edward Richter  ...     DnUc90&j0

[1000 rows x 4 columns]

###Task 3: 
>* Print the first 2 and last 3 rows
>* Print the shape
>* Print the data-types of each column

In [136]:
df.head(2)

           Name  Employee ID                 Email ID     Password
0  Edward Davis      2020001  edward.davis@edureka.co  XE?49p5Rbcs
1    John Brown      2020002    john.brown@edureka.co   #47s4yaWJm

In [137]:
df.tail(3)

                 Name  Employee ID                     Email ID    Password
997  Jeanette Sandlin      2020998  jeanette.sandlin@edureka.co    cL2s7p&C
998     Nancy Zediker      2020999     nancy.zediker@edureka.co  By&trx39kN
999    Edward Richter      2021000    edward.richter@edureka.co   DnUc90&j0

In [138]:
df.shape

(1000, 4)

In [139]:
df.info

<bound method DataFrame.info of                    Name  ...      Password
0          Edward Davis  ...   XE?49p5Rbcs
1            John Brown  ...    #47s4yaWJm
2    Cristopher Mccrate  ...  1&5kEdVjk6Xx
3        Michael Combes  ...     86Jfj6?dY
4           Jeff Blount  ...    !YKsybRkj5
..                  ...  ...           ...
995     William Johnson  ...       !Unctt0
996    Julie Kronenberg  ...    fjC7BQ$2w9
997    Jeanette Sandlin  ...      cL2s7p&C
998       Nancy Zediker  ...    By&trx39kN
999      Edward Richter  ...     DnUc90&j0

[1000 rows x 4 columns]>

In [140]:
print(f"type: {type(df)}")

type: <class 'pandas.core.frame.DataFrame'>

In [141]:
df.dtypes

Name           object
Employee ID     int64
Email ID       object
Password       object
dtype: object

###Task 4: Print the employee id, email id, and password of 'Nancy Zediker'

In [142]:
df[df['Name']=='Nancy Zediker']

              Name  Employee ID                  Email ID    Password
998  Nancy Zediker      2020999  nancy.zediker@edureka.co  By&trx39kN

###Working with Series
###Task 5: 
>* Select the column 'Email ID'
>* Check the size of the column and print its first 10 values
>* Check for duplicate emails
>* If duplicate emails add a number to the next number

In [143]:
df['Email ID'].head()

0          edward.davis@edureka.co
1            john.brown@edureka.co
2    cristopher.mccrate@edureka.co
3        michael.combes@edureka.co
4           jeff.blount@edureka.co
Name: Email ID, dtype: object

In [144]:
df['Email ID'].size

1000

In [145]:
df['Email ID'].duplicated().any()

True

In [146]:
df[df['Email ID'].duplicated()]

              Name  Employee ID                  Email ID Password
850  Lois Thompson      2020851  lois.thompson@edureka.co  4@yzSrw

In [147]:
df[df['Name']=='Lois Thompson']

              Name  Employee ID                  Email ID   Password
598  Lois Thompson      2020599  lois.thompson@edureka.co  fk?9UxuSX
850  Lois Thompson      2020851  lois.thompson@edureka.co    4@yzSrw

In [148]:
df.loc[850,'Email ID'] = 'lois.thompson2@edureka.co'

In [149]:
df.iloc[850]

Name                       Lois Thompson
Employee ID                      2020851
Email ID       lois.thompson2@edureka.co
Password                         4@yzSrw
Name: 850, dtype: object

In [150]:
df["Password"].duplicated().any()

False

###Task 6: Find all the employees whose name starts with 'A'

Also print the total number of names starting with 'A'

In [155]:
df['Name'].str.startswith("A")

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: Name, Length: 1000, dtype: bool

In [156]:
df['Name'].str.startswith("A").any()

True

In [153]:
x=df[df['Name'].str.startswith("A")]
print(x.head())
print(f"Total name Starting with A is {x.size}")

               Name  Employee ID                   Email ID     Password
23       Alfredo Yu      2020024      alfredo.yu@edureka.co      aF1mcz@
68   Ashley Nettles      2020069  ashley.nettles@edureka.co  d1gOuhM!65F
77     Alice Vallee      2020078    alice.vallee@edureka.co   8yX?dkG2r2
96   Adrienne Huber      2020097  adrienne.huber@edureka.co    u1a7C7if!
113     Ahmad Olson      2020114     ahmad.olson@edureka.co    p#vr3RVPc
Total name Starting with A is 248

###Task 7: Remove the details of those people who are not going to join. They are at 10,130,560

In [157]:
df.iloc[[10,130,560]]

               Name  Employee ID                   Email ID     Password
10      Della Janek      2020011     della.janek@edureka.co  0&tmX66ZuNp
130  William Ponyah      2020131  william.ponyah@edureka.co     ozd3M$Hp
560  Joseph Brussel      2020561  joseph.brussel@edureka.co     49o$hv2H

In [164]:
df

                   Name  ...      Password
0          Edward Davis  ...   XE?49p5Rbcs
1            John Brown  ...    #47s4yaWJm
2    Cristopher Mccrate  ...  1&5kEdVjk6Xx
3        Michael Combes  ...     86Jfj6?dY
4           Jeff Blount  ...    !YKsybRkj5
..                  ...  ...           ...
995     William Johnson  ...       !Unctt0
996    Julie Kronenberg  ...    fjC7BQ$2w9
997    Jeanette Sandlin  ...      cL2s7p&C
998       Nancy Zediker  ...    By&trx39kN
999      Edward Richter  ...     DnUc90&j0

[1000 rows x 4 columns]

In [166]:
df.shape

(1000, 4)

In [167]:
df.drop([10,130,160],inplace=True)

In [171]:
df.head(12)
# we can clearly seee that the 10 is missing in our Dataframe

                  Name  ...      Password
0         Edward Davis  ...   XE?49p5Rbcs
1           John Brown  ...    #47s4yaWJm
2   Cristopher Mccrate  ...  1&5kEdVjk6Xx
3       Michael Combes  ...     86Jfj6?dY
4          Jeff Blount  ...    !YKsybRkj5
5        Joseph Ferris  ...       e3b$CIz
6         Pablo Bruner  ...    cfP$90ob3V
7         Ronnie Waite  ...     lXWnsm6$l
8      Edward Gonzalez  ...    tvda7k8UF?
9         Ruby Musetti  ...    3gRnJlF3#b
11          Brian Main  ...    k&y6rZw6fE
12     Jennifer Fowler  ...    ?cyEi7kOBb

[12 rows x 4 columns]

### Task 8: Also create a new dataframe without password column and save it in an excel file

In [172]:
public_df=df.drop('Password',axis=1)
public_df.head()

                 Name  Employee ID                       Email ID
0        Edward Davis      2020001        edward.davis@edureka.co
1          John Brown      2020002          john.brown@edureka.co
2  Cristopher Mccrate      2020003  cristopher.mccrate@edureka.co
3      Michael Combes      2020004      michael.combes@edureka.co
4         Jeff Blount      2020005         jeff.blount@edureka.co

###Task 10: Save the dataframe in an excel file

In [173]:
public_df.to_excel('public_emp_data.xlsx',index=False)
df.to_excel('emp_id.xlsx',index=False)

###Task 11: Read the excel file in a dataframe with names as indexes

In [179]:
data=pd.read_excel('/content/public_emp_data.xlsx',index_col='Name')
data.head()

                    Employee ID                       Email ID
Name
Edward Davis            2020001        edward.davis@edureka.co
John Brown              2020002          john.brown@edureka.co
Cristopher Mccrate      2020003  cristopher.mccrate@edureka.co
Michael Combes          2020004      michael.combes@edureka.co
Jeff Blount             2020005         jeff.blount@edureka.co

In [174]:
#/content/emp_id.xlsx
data = pd.read_excel('/content/emp_id.xlsx',index_col='Name')

In [175]:
data.head()

                    Employee ID                       Email ID      Password
Name
Edward Davis            2020001        edward.davis@edureka.co   XE?49p5Rbcs
John Brown              2020002          john.brown@edureka.co    #47s4yaWJm
Cristopher Mccrate      2020003  cristopher.mccrate@edureka.co  1&5kEdVjk6Xx
Michael Combes          2020004      michael.combes@edureka.co     86Jfj6?dY
Jeff Blount             2020005         jeff.blount@edureka.co    !YKsybRkj5

In [176]:
print(data.loc['John Brown']) #Selecting rows using label
data.loc[['John Brown','Michael Combes']]

Employee ID                  2020002
Email ID       john.brown@edureka.co
Password                  #47s4yaWJm
Name: John Brown, dtype: object

                Employee ID                   Email ID    Password
Name
John Brown          2020002      john.brown@edureka.co  #47s4yaWJm
Michael Combes      2020004  michael.combes@edureka.co   86Jfj6?dY